@model MetroApp.DataLayer.Models.TarjetaPagos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Agregar tarjeta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/LoginContent/css/style.css" rel="stylesheet" />
    <style>
        .error-message {
            color: red;
        }
    </style>

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap py-5">
                            <div class="card">
                                <div class="card-header ">
                                    <div class="row">
                                        <h4>&nbsp;&nbsp;Agregar nueva tarjeta de credito</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label" })
                                        <div class="">
                                            @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NumeroTarjeta, htmlAttributes: new { @class = "control-label" })
                                        <div class="">
                                            @Html.EditorFor(model => model.NumeroTarjeta, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NumeroTarjeta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FechaVencimiento, htmlAttributes: new { @class = "control-label" })
                                        <div class="">
                                            @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CodigoSeguridad, htmlAttributes: new { @class = "control-label" })
                                        <div class="">
                                            @Html.EditorFor(model => model.CodigoSeguridad, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CodigoSeguridad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="form-group">
                                        <div class="col-md-offset-2">
                                            <input type="submit" value="Registrar" class="btn btn-success float-right" />
                                            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-danger">Volver</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
